body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('BG.png'); /* Путь к вашей прозрачной картинке */

    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.94); /* Цвет фона с прозрачностью */
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.logo img {
    max-width: 100px;
}

.header-info h1 {
    margin: 0;
}

.about {
    flex: 1;
    padding: 20px;
}

A {
    color: red; /* Цвет ссылок */
}
A:visited {
    color: #cecece; /* Цвет посещенных ссылок */
}
A:active {
    color: #ffff00; /* Цвет активных ссылок */
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.services {
    padding: 20px;
}

.service {
    margin-bottom: 20px;
    border: 3px solid rgba(0, 0, 0, 0.85);
    padding: 10px;
}

.service img {
    max-width: 150px;
    float: left;
    margin-right: 10px;
}

.service-info {
    overflow: hidden; /* Чтобы содержимое не выходило за границы */
}

.service-info h3 {
    margin-top: 0;
}

.service-info p {
    margin-bottom: 0;
}

.service-info .price {
    font-weight: bold;
    color: green;
}

.add-to-cart {
    text-align: right;
}

.add-to-cart button {
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: white; /* Цвет текста на кнопке */
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.cart-icon {
    position: absolute;
    top: -10px; /* Расположение иконки относительно верхнего края блока */
    right: -10px; /* Расположение иконки относительно правого края блока */
    background-color: red; /* Цвет фона иконки */
    color: white; /* Цвет иконки */
    border-radius: 50%; /* Делаем круглую иконку */
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
